#rate {
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: center;
}

body {
  background-color: #ddd;
}

form {
  background-color: #ddd;
}

.alert {
  padding-bottom: 10vh;
}

.inputBox {
  margin-bottom: 15px;
}

input, textarea, button {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.listkritik h1 {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.listkritik {
  padding-bottom: 10%;
  background-color: white;
}

table {
  text-align: center;
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto; /* Ini yang bikin tabel di tengah */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: rgba(0, 0, 0, 0.35);
  font-weight: bold;
  text-transform: uppercase;
}

tr:hover {
  background-color: rgba(98, 185, 255, 0.35);
  transition: background-color 0.2s ease-in-out;
}

tr:last-child td {
  border-bottom: none;
}
